/*------------------------------------------------------------------------------
  1. sticky footer
------------------------------------------------------------------------------*/



// 1. setup sticky footer
body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
.wrap {
  flex: 1;
}
